<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Bienvenido a Patitias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Unete a esta hermosa comunidad, la cual es principalmente para compartir la vida de tus mascotas
          y sus increibles allasgos
        </p>
      </ion-card-content>

    </ion-card>

</ion-content>